@media screen and (min-width: 999px){
	body {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
		background: #fafafa;
	}

	a {
		color: #1976d2;
		text-decoration:none;
	}
	.createaccount{
		position: absolute;
		top: 50px;
		right: 180px;
		width: 120px;
		height: 40px;
		padding: 2px;
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
		text-align: center;
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.login{
		position: absolute;
		top: 50px;
		right: 68px;
		width: 100px;
		height: 40px;
		padding: 2px;
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
		text-align: center;
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.sportstitle{
		width: calc(96%/3);
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
		display: inline-block;
		background-size:cover;
	}
	.sportstitle:hover{
		box-shadow: 2px 2px rgba(0,0,0,0.4);
	}
	.sportstitle:active{
		background-color: #59b1eb;
		box-shadow: 0px 0px rgba(0,0,0,0.4);
	}
	.sports{
		width: 100%;
		height: 50%;
		font-size: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		text-align: center;
		transition:transform 0.5s;
	}
	.sports:hover{
		transform: scale(1.1);
	}
	.sportsname{
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: rgba(0,0,0,0.4);
	}
	.sportsname span{
		font-size: 48px;
	}
	.sportstitle div{
		width: 100%;
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.sportstitle div ul{
		font-size: 24px;
		background-color: rgba(0,0,0,0.4);
		color: #fff;
	}
}