@media screen and (min-width: 999px){
	body {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
		background: #fafafa;
	}

	a {
		color: #1976d2;
		text-decoration:none;
	}
	.createaccount{
		position: absolute;
		top: 50px;
		right: 180px;
		width: 100px;
		height: 40px;
		padding: 2px;
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
		text-align: center;
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.login{
		position: absolute;
		top: 50px;
		right: 68px;
		width: 100px;
		height: 40px;
		padding: 2px;
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
		text-align: center;
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.titles{
		height: 300px;
	}
	.soccer-image{
		position: relative;
		background-image: url(/images/soccer.png);
		-moz-background-size:cover;
		background-size:cover;
		display: inline-block;
		width: 32%;
		height: 100%;
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
	}
	.soccer-title{
		position: absolute;
		top: 40%;
		left: 0px;
		width: 100%;
		height: 80px;
		background-color: rgba(0,0,0,0.4);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 48px;
		color: #fff;
	}
	.fencing-image{
		position: relative;
		background-image: url(/images/fencing.png);
		-moz-background-size:cover;
		background-size:cover;
		display: inline-block;
		width: 32%;
		height: 100%;
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
	}
	.fencing-title{
		position: absolute;
		top: 40%;
		left: 0px;
		width: 100%;
		height: 80px;
		background-color: rgba(0,0,0,0.4);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 48px;
		color: #fff;
	}
	.empty-image{
		position: relative;
		background-image: url(/images/empty.png);
		-moz-background-size:cover;
		background-size:cover;
		display: inline-block;
		width: 32%;
		height: 100%;
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
	}
	.empty-title{
		position: absolute;
		top: 40%;
		left: 0px;
		width: 100%;
		height: 80px;
		background-color: rgba(0,0,0,0.4);
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 32px;
		color: #fff;
	}
}