@media screen and (min-width: 999px){
	body {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
		background: #fafafa;
	}

	a {
		color: #1976d2;
		text-decoration:none;
	}
	.createaccount{
		position: absolute;
		top: 50px;
		right: 180px;
		width: 120px;
		height: 40px;
		padding: 2px;
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
		text-align: center;
		font-size: 16px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	.createaccount:hover{
		box-shadow: 2px 2px rgba(0,0,0,0.4);
	}
	.createaccount:active{
		background-color: #59b1eb;
		box-shadow: 0px 0px rgba(0,0,0,0.4);
	}
	.login{
		position: absolute;
		top: 50px;
		right: 68px;
		width: 100px;
		height: 40px;
		padding: 2px;
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
		text-align: center;
		font-size: 16px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	.login:hover{
		box-shadow: 2px 2px rgba(0,0,0,0.4);
	}
	.login:active{
		background-color: #59b1eb;
		box-shadow: 0px 0px rgba(0,0,0,0.4);
	}

	#top{
		width: 100%;
		text-align: center;
		margin-top: 16px;
	}
	#top-title{
		display: inline-block;
		width: 50%;
		height: 280px;
	}

	#stream-anime{
		width: 100%;
		height: 60px;
		margin-top: 0px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	#title-image{
		width: 100%;
		height: 220px;
		background-image: url(/images/SportsCast.png);
		background-size: cover;
	}

	.circle{
		display: inline-block;
		margin-left: 5%;
		margin-right: 5%;
		background: #ffffff;
		border: solid 2px #1976d2;
		border-radius: 50%;
	}
	#circle-1{
		animation: anime 2s linear infinite;
		animation-delay: 0s;
		width: 8px;
		height: 8px;
	}
	#circle-2{
		animation: anime 2s linear infinite;
		animation-delay: 0.5s;
		width: 16px;
		height: 16px;
	}
	#circle-3{
		animation: anime 2s linear infinite;
		animation-delay: 1s;
		width: 24px;
		height: 24px;
	}
	#circle-4{
		animation: anime 2s linear infinite;
		animation-delay: 1.5s;
		width: 32px;
		height: 32px;
	}
	#circle-5{
		animation: anime 2s linear infinite;
		animation-delay: 2s;
		width: 40px;
		height: 40px;
	}
	@keyframes anime{
		0%{background: #ffffff;}
		50%{background: #1976d2;}
		100%{background: #ffffff;}
	}

	#inquiry{
		margin-top: 32px;
		width: 100%;
		text-align: center;
	}
	#inquiry-button{
		width: 50%;
		height: 64px;
		padding: 2px;
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
		text-align: center;
		font-size: 24px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}
	#inquiry-button:hover{
		box-shadow: 2px 2px rgba(0,0,0,0.4);
	}
	#inquiry-button:active{
		background-color: #59b1eb;
		box-shadow: 0px 0px rgba(0,0,0,0.4);
	}

	.titles{
		margin-top: 40px;
	}
	.sportstitle{
		width: calc(96%/3);
		border-style: solid;
		border-color: #1976d2;
		border-width: 2px;
		border-radius: 10px;
		margin:3px;
		display: inline-block;
		background-size:cover;
	}
	.sportstitle:hover{
		box-shadow: 2px 2px rgba(0,0,0,0.4);
	}
	.sportstitle:active{
		background-color: #59b1eb;
		box-shadow: 0px 0px rgba(0,0,0,0.4);
	}
	.sports{
		width: 100%;
		height: 50%;
		font-size: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: #fff;
		text-align: center;
		transition:transform 0.5s;
	}
	.sports:hover{
		transform: scale(1.1);
	}
	.sportsname{
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
		background-color: rgba(0,0,0,0.4);
	}
	.sportsname span{
		font-size: 48px;
	}
	.sportstitle div{
		width: 100%;
		margin-top: 4px;
		margin-bottom: 4px;
	}
	.sportstitle div ul{
		font-size: 24px;
		background-color: rgba(0,0,0,0.4);
		color: #fff;
	}

	.search-button{
		width: 100px;
		height: 40px;
		padding: 2px;
		background-color: #1976d2;
		border-radius: 10px;
		color: #fff;
		border: 1px;
		text-align: center;
		font-size: 20px;
	}
	.search-button:hover{
		box-shadow: 2px 2px rgba(0,0,0,0.4);
	}
	.search-button:active{
		background-color: #59b1eb;
		box-shadow: 0px 0px rgba(0,0,0,0.4);
	}
	.search-text{
		font-size: 14px;
		border-style: solid;
		border-color: #1976d2;
		border-radius: 4px;
		border-width: 2px;
	}
	.search-text:focus{
		border-style: solid;
		border-color: #59b1eb;
		border-radius: 4px;
		border-width: 2px;
		box-shadow: 2px 2px rgba(0,0,0,0.4);
	}
}