@media screen and (min-width: 999px){
	body {
		padding-left: 50px;
		padding-right: 50px;
		padding-top: 10px;
		padding-bottom: 10px;
		font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
		background: #fafafa;
	}

	a {
		color: #1976d2;
	}

	#fullscreen-button{
		float: right;
	}
	.video{
		width: 50%;
		height: 100%;
		float: left;
		padding: 10px;
		background: #eee;
	}
	#cast_video{
		width: 100%;
		height:360px;
		background: #fff;
	}
	.watch_start_button{
		float: right;
		margin: 5px;
	}
	.watch_stop_button{
		float: right;
		margin:5px;
	}

	.score{
		width: 45%;
		height: 100%;
		float: right;
		padding: 10px;
		background: #aaa;
	}
		.team-names{
		padding-left: 50px;
		padding-right: 50px;
	}
	.team-name-title{
		text-align: center;
		font-size: 18px;
	}
	#team-name-a{

	}
	#team-name-b{
		float: right;
	}
	.points{
		padding-left: 80px;
		padding-right: 80px;
	}
	.point-title{
		text-align: center;
		font-size: 18px;
	}
	#team-point-a{
		height: 48px;
	}
	#team-point-b{
		float: right;
		height: 48px;
	}
	.info-title{
		text-align: center;
		font-size: 18px;
	}
	#team-info-a{
		width: 48%;
		height: 100px;
		resize: vertical;
	}
	#team-info-b{
		float: right;
		width: 48%;
		height: 100px;
		resize: vertical;
	}
	.send-button{
		text-align: center;
	}
	#score-send-button{
		height: 32px;
	}
}