<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="stylesheets/createaccount.css" />
	</head>
	<body>
		<h1><%= title %></h1>
		<p><%= title %> Page</p>
		<form method="post" name="form1" id="form1" action="/createaccount">
			すべて必須項目です。すべての項目を入力したうえで登録ボタンを押してください。<br>
			<div class="name" style="float:left;">
				<label>
					氏<br>
					<input class="text" type="text" name="LastName" id="LastName" placeholder="高専" required />
				</label>
			</div>
			<div class="name" style="float:left;">
				<label>
					名<br>
					<input class="text" type="text" name="FirstName" id="FirstName" placeholder="太郎" required />
				</label>
			</div>
			<div class="forms" style="clear:both;">
				<label>
					メールアドレス<br>
					<input class="text" type="email" name="mail1" id="mail1" size="51" placeholder="info@example.com" required onchange="mail_check();" />
				</label>
			</div>
			<div class="forms" style="clear:both;">
				<label>
					メールアドレスをもう一度入力してください<br>
					<div style="float:left; margin-top: 0px; margin-left: 0px;">
						<input class="text" type="email" name="mail2" id="mail2" size="51" placeholder="info@example.com" required onchange="mail_check();" />
					</div>
					<div id="alert" style="color: red; float:left; margin-top: 0px; visibility: hidden">
						メールアドレスが一致していません
					</div>
				</label>
			</div>
			<div class="forms" style="clear:both; margin-top: 32px;">
				<label>
					本サービスを使用する大会名<br>
					<input class="text" type="text" name="Tournament" id="Tournament" size="51" placeholder="プログラミングコンテスト" required />
				</label>
			</div>
			<div class="forms" style="clear:both;">
				使用日時<br>
				<div class="date1" style="float:left;">
					<label>
						<input class="text" type="date" name="start" id="start" placeholder="2016-11-03" required />
					</label>
				</div>
				<div style="float:left; margin-bottom:16px;">
					～
				</div>
				<div class="date1" style="float:left;">
					<label>
						<input class="text" type="date" name="finish" id="finish" placeholder="2016-11-06" required />
					</label>
				</div>
			</div>

			<div class="forms" style="clear:both;">
				<label>
					<input type="checkbox" name="policy" id="policy" value="1" required /><a href="">プライバシーポリシー</a>に同意する
				</label>
			</div>
			<div class="forms" style="clear:both;">
				<label>
					<input type="checkbox" name="Terms" id="Terms" value="1" required /><a href="">利用規約</a>に同意する
				</label>
			</div>
			<div class="forms" style="clear:both;">
				登録ボタンを押すと，自動でメールを送信します<br>
				<input type="submit" value="登録" class="create"/>
				<!--
					return fales; をなくすことでリロードできる
				-->
			</div>
		</form>
	</body>
	<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="/javascripts/createaccount.js"></script>
</html>
