<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/style_p.css' />
</head>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<div class="menu">
		<a href="/createaccount">
		<span class="createaccount">
			配信者用<br>アカウント作成
		</span>
		</a>
		<a href="/login">
		<span class="login">
			ログイン
		</span>
		</a>
	</div>
	<div class="titles">
		<a href="/watch?soccer">
			<div class="soccer-image">
				<div class="soccer-title">サッカー</div>
			</div>
		</a>
		<a href="/watch?fencing">
			<div class="fencing-image">
				<div class="fencing-title">フェンシング</div>
			</div>
		</a>
		<a href="/watch">
			<div class="empty-image">
				<div class="empty-title">COMING SOON...</div>
			</div>
		</a>
	</div>
</body>
</html>
