<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src="/javascripts/browsercheck.js"></script>
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/style_p.css' />
</head>
<body>
	<h1><%= title %></h1>
	<p>Welcome to <%= title %></p>
	<div class="menu">
		<a href="/createaccount">
		<span class="createaccount">
			配信者用<br>アカウント作成
		</span>
		</a>
		<a href="/login">
		<span class="login">
			ログイン
		</span>
		</a>
	</div>
	<div class="titles">
		<a href="/watch?soccer">
			<div id="soccer-image">
				<div class="soccer-title">サッカー</div>
			</div>
		</a>
		<a href="/watch?fencing">
			<div id="fencing-image">
				<div class="fencing-title">フェンシング</div>
			</div>
		</a>
		<a href="/watch">
			<div id="empty-image">
				<div class="empty-title">COMING SOON...</div>
			</div>
		</a>
	</div>
	<script type="text/javascript">
		var height=document.getElementById('soccer-image').clientWidth;
		var soccer=document.getElementById('soccer-image');
		var fencing=document.getElementById('fencing-image');
		var empty=document.getElementById('empty-image');
		soccer.style.height=height+'px';
		fencing.style.height=height+'px';
		empty.style.height=height+'px';
	</script>
</body>
</html>
