<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src="/javascripts/browsercheck.js"></script>
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/style_p.css' />
</head>
<body>
	<h1><%= title %></h1>
	<div class="menu">
		<a href="/createaccount">
		<span class="createaccount">
			配信者用<br>アカウント作成
		</span>
		</a>
		<span>
		<div>
			<input class="text" type="text" id="competition" autocomplete="on" list="kyougishumoku">
			<datalist id="kyougishumoku">
				<option value="soccer" />
				<option value="fencing" />
			</datalist>
			<input class="create" type="button" value="search" onClick="a()">
		</div>
		</span>
		<a href="/login">
		<span class="login">
			ログイン
		</span>
		</a>
	</div>
	<div class="titles">
		<%- sportstitle %>
	</div>
	<script type="text/javascript">
		var title = document.getElementsByClassName('sportstitle');
		var height=title[0].clientWidth;
		for(var i=0;i<title.length; i++) {
			var element = title[i] ;
			element.style.height=height+'px';
		}
		window.onresize=function(){var title = document.getElementsByClassName('sportstitle');
			var height=title[0].clientWidth;
			for(var i=0;i<title.length; i++) {
				var element = title[i] ;
				element.style.height=height+'px';
			}
		};
	</script>
	<script type="text/javascript">
		
		function a() {
			var e = document.getElementsByClassName("sportsnametitle");
			var input=document.getElementById('competition');
			var cserch = document.getElementsByClassName("data");
			var cnames = document.getElementsByClassName("tname");
			var name = document.getElementById("strname");
			var tname = document.getElementsByClassName("tname");
			for(var i=0;i<e.length;i++){
				var tmp1 = cserch[i];
				var tmp2 = e[i];
				var tmp4 = tname[i];
				tmp1.parentNode.parentNode.parentNode.style.display='';
				tmp2.parentNode.parentNode.parentNode.style.display='';
			}
			console.log('inputed '+input.value);
			for(var i=0;i<e.length;i++){
				var tmp=e[i];
				var tmp3 = cserch[i];
				var tmp5 = tname[i];
				//console.log(tmp.innerHTML);
				if(input.value == "soccer" || input.value == "fencing"){
					if(tmp.innerHTML != input.value){
						var notdisplaynode=tmp.parentNode.parentNode.parentNode;
						notdisplaynode.style.display="none";
					}
				}
				else if(tmp5.innerHTML.indexOf(input.value) == -1){
					console.log(tmp5.innerHTML);
					var notdisplaynode1 = tmp5.parentNode.parentNode.parentNode;
					notdisplaynode1.style.display = "none";
				}
				console.log(tmp3.innerHTML);
			}
		}
	</script>
</body>
</html>
