<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src="/javascripts/browsercheck.js"></script>
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/style_p.css' />
</head>
<body>
	<h1><%= title %></h1>
	<div class="menu">
		<a href="/createaccount">
		<span class="createaccount">
			配信者用<br>アカウント作成
		</span>
		</a>
		<span>
		<div>
			<input class="text" type="text" id="competition" autocomplete="on" list="kyougishumoku">
			<datalist id="kyougishumoku">
				<option value="soccer" />
				<option value="fencing" />
			</datalist>
			<input class="create" type="button" value="search" onClick="onkeyup()">
		</div>
		</span>
		<a href="/login">
		<span class="login">
			ログイン
		</span>
		</a>
	</div>
	<div class="titles">
		<%- sportstitle %>
	</div>
	<script type="text/javascript">
		var title = document.getElementsByClassName('sportstitle');
		var height=title[0].clientWidth;
		for(var i=0;i<title.length; i++) {
			var element = title[i] ;
			element.style.height=height+'px';
		}
		window.onresize=function(){var title = document.getElementsByClassName('sportstitle');
			var height=title[0].clientWidth;
			for(var i=0;i<title.length; i++) {
				var element = title[i] ;
				element.style.height=height+'px';
			}
		};
	</script>
	<script src="/javascripts/search.js"></script>
</body>
</html>
