<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<script src="/javascripts/browsercheck.js"></script>
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
	<link rel='stylesheet' href='/stylesheets/style.css' />
	<link rel='stylesheet' href='/stylesheets/style_p.css' />
	<meta name="auther" content="SportsCast!開発チーム">
	<meta name="date" content="2016-12">
	<meta name="description" content="第27回全国高専プログラミングコンテスト　課題部門「SportsCast!」">
	<meta property="og:title" content="SportsCast!">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://sportscast.live-on.net">
	<meta property="og:image" content="https://sportscast.live-on.net/images/logo.png">
	<meta property="og:description" content="第27回全国高専プログラミングコンテスト　課題部門「SportsCast!」">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:title" content="SportsCast!">
	<meta name="twitter:description" content="第27回全国高専プログラミングコンテスト　課題部門「SportsCast!」">
	<meta name="twitter:image" content="https://sportscast.live-on.net/images/logo.png">
	<meta name="twitter:url" content="https://sportscast.live-on.net"/>
	<meta name="copyright" content="Copyright &copy; 2016 SportsCast!開発チーム All Rights Reserved.">
	<meta name="theme-color" content="#1976d2">
</head>
<body>
	<h1><%= title %></h1>
	<div class="menu">
		<a href="/createaccount">
		<span class="createaccount">
			配信者用<br>アカウント作成
		</span>
		</a>
		<a href="/login">
		<span class="login">
			ログイン
		</span>
		</a>
		<span>
		<div id="search">
			<input class="search-text" type="text" id="competition" autocomplete="on" list="kyougishumoku" onkeyup="search()">
			<datalist id="sports-name-list">
				<option value="soccer" />
				<option value="fencing" />
				<option value="video" />
			</datalist>
			<input class="search-button" type="button" value="search" onClick="search()">
		</div>
		</span>
	</div>

	<div id="top">
		<div id="top-title">
			<div id="title-image">
				<div id="stream-anime">
					<div class="circle" id="circle-1"></div>
					<div class="circle" id="circle-2"></div>
					<div class="circle" id="circle-3"></div>
					<div class="circle" id="circle-4"></div>
					<div class="circle" id="circle-5"></div>
				</div>
			</div>
		</div>
	</div>

	<div id="inquiry">
		<a href="htmls/inquiry.html">
			<span id="inquiry-button">問い合わせはこちらから</span>
		</a>
	</div>
	
	<div class="titles">
		<%- sportstitle %>
	</div>
	
	<script src="/javascripts/sportssearch.js"></script>
	<script type="text/javascript">
		var title = document.getElementsByClassName('sportstitle');
		var height=title[0].clientWidth;
		for(var i=0;i<title.length; i++) {
			var element = title[i] ;
			element.style.height=height+'px';
		}
		window.onresize=function(){var title = document.getElementsByClassName('sportstitle');
			var height=title[0].clientWidth;
			for(var i=0;i<title.length; i++) {
				var element = title[i] ;
				element.style.height=height+'px';
			}
		};
	</script>
</body>
</html>
