<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/watch.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/watch_p.css">
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Watch Page</p>
    <div class="contents">
    	<div class="video">
    		<video id="cast_video" autoplay></video>
    		<br>
    		<button class="watch_start_button">視聴開始</button>
    		<button class="watch_stop_button">視聴終了</button>
    	</div>
    	<span class="br">
    	<div class="score"></div>
    </div>
  </body>
</html>
