<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
	<meta name="viewport" content="width=device-width,user-scalable=no,maximum-scale=1" />
	<link rel="stylesheet" type="text/css" href="/stylesheets/watch.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/watch_p.css">
</head>
<body>
	<h1><%= title %></h1>
	<p>Watch Page</p>
	<div class="contents">
		<div class="video">
			<button id="fullscreen-button" onclick="fullscreen()">全画面表示</button>
			<video id="cast_video" autoplay></video>
			<br>
			<button class="watch_stop_button" onclick="hangUp();">視聴終了</button>
			<button class="watch_start_button" onclick="sendRequest();">視聴開始</button>
		</div>
		<span class="br">
		<div class="score">
			<div class="team-names">
				<p class="team-name-title">チーム名</p>
				<input type="text" name="team-name-a" id="team-name-a" readonly="readonly">
				<input type="text" name="team-name-b" id="team-name-b" readonly="readonly">
			</div>
			<br>
			<div class="points">
				<p class="point-title">得点</p>
				<input type="text" name="team-point-a" id="team-point-a" readonly="readonly">
				<input type="text" name="team-point-b" id="team-point-b" readonly="readonly">
			</div>
			<div class="info">
				<p class="info-title">チーム情報</p>
				<textarea id="team-info-a" readonly="readonly"></textarea>
				<textarea id="team-info-b" readonly="readonly"></textarea>
			</div>
		</div>
	</div>
	<!-- <script src="//192.168.0.14:3001/socket.io/socket.io.js"></script> -->
	<script src="/javascripts/watch.js"></script>
	<script src="/javascripts/networkcheck.js"></script>
</body>
</html>
